.Rproj.user
.Rhistory
.RData
.Ruserdata
elsevier_config.json
springer_config.json
crossref_config.json
wiley_config.json
*.log
data/cpet_articles/full_texts/
**/unpaywall_cache
**/.ipynb_checkpoints/
data/cpet_articles/no_exer/
**/__pycache__
.venv


.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript

/agujournal2019.cls
/trackchanges.sty
.httr-oauth
.DS_Store
