.Rproj.user
.Rhistory
.RData
.Ruserdata
elsevier_config.json
springer_config.json
*.log
data/cpet_articles/full_texts/
**/unpaywall_cache
**/.ipynb_checkpoints/
data/cpet_articles/no_exer/
**/__pycache__